<br>
<br>
<br>
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <div class="section-heading">
                <h2>Forgot password</h2>
                <span>Please enter your email to receive a token to reset your password.</span>
            </div>
            <form id="forgot-form" action="#" method="post">
                <div class="form-group">
                    <label for="gmail">Gmail</label>
                    <input name="gmail" type="text" id="gmail" class="form-control"
                        placeholder="Enter your gmail" required="">
                </div>
                <div class="form-group">
                    <button type="submit" id="form-submit" class="btn btn-primary btn-block w-100">Send reset token</button>
                </div>
            </form>
            <!-- Thêm phần đăng ký -->
            <div class="login-link section-heading">
                <p style="font-size: 1.25rem;">Don't have an account? <a href="/users/register" class="btn btn-link">
                    <span style="font-size: 1.25rem; color: black; font-weight: 600;">Register</span></a>
                </p>
            </div>
            <div id="alert-container"></div> <!-- Container để hiển thị các alert -->
            </div>

            <div class="col-lg-6">
            <div class="login-image">
                <img src="/images/baner-right-image-04.jpg" alt="Login Illustration" class="img-fluid w-100"
                    style="max-width: 100%; height: auto; border-radius:20px">
            </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/forgot-password.js"></script>