<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/" {{#if (eq page "home" )}} class="active"
                                {{/if}}>Home</a></li>
                        <li class="scroll-to-section"><a href="/products" {{#if (eq page "products" )}} class="active"
                                {{/if}}>Products</a></li>
                        <li class="scroll-to-section"><a href="/about" {{#if (eq page "about" )}} class="active"
                                {{/if}}>About</a></li>
                        <li class="scroll-to-section"><a href="/contact" {{#if (eq page "contact" )}} class="active"
                                {{/if}}>Contact</a></li>
                        {{#if (eq userName "GUEST")}}
                        <li class="scroll-to-section"><a href="/account" {{#if (eq page "account" )}} class="active"
                                {{/if}}>Account</a></li>
                        {{else}}
                        <li class="scroll-to-section"><a href="/account/logout" {{#if (eq page "account" )}} class="active"
                                {{/if}}>Logout</a></li>
                                <p>{{userName}}</p>
                        {{/if}}
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->